.MenuCard {
    text-align: center;
    display: inline-block;
    width: 450px;
    height: 150px;
    margin: 10px;
    background-color: #edeeef;
    box-shadow: 2px 2px 2px #b8babc;
}

.MenuCard img {
    align-items: left;
    width: 50px;
    height: 50px;
}
