.MenuCard {
    text-align: center;
    display: inline-block;
    width: 450px;
    height: 150px;
    margin: 10px;
    background-color: #edeeef;
    box-shadow: 2px 2px 2px #b8babc;
}

.MenuCard img {
    align-items: left;
    width: 50%;
    height: 50%;
}

.Button {
    background-color: #ed6d12;
    height: 28px;
    width: 28px;
}

.Button:disabled {
  background:#CCC;
  cursor: not-allowed;
}

.XButton {
    height: 28px;
    width: 28px;
    float:right;
    position:relative;
      /*margin:0;*/
    /*padding:0;*/
    /*overflow:hidden;*/
    background:#CCC;
    /*border-radius:2px;*/
    /*border:solid 2px #FFF;*/
    transition: all .3s ease-out;
    /*cursor:pointer;*/
}

.ConTainer1 {
  float: left;
  width: 40%;
  margin: 0px;
  padding: 0px;
}

.ConTainer1 p {
  margin: 0px;
  margin-bottom: 5px;
}

.ConTainer2 {
  margin-top: 10px;
  float: left;
  width: 60%;
}

.ConTainer2 p {
  text-align: justify;
  color: #353738;
  font-size: 12px;
  padding-right: 15px;
}

.Input {
  margin-right: 30px;
  width: 40px;
}

