.ShoppingCartButton {
    height: 50px;
    width: 50px;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ShoppingCartButton img {
    height: 40px;
}

.ShoppingCartButton:hover img {
    height: 45px;
}
