.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ed6d12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
