.ShoppingCart {
    width: 50%;
    border: 3px solid black;
    z-index: 200;
    position: absolute;
    top: 0;
    background-color: white;
}

@media (min-width: 700px) {
    .ShoppingCart {
        width: 500px;
    }
}
