.CartInfo {
    margin-left: 50px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.CartInfo .title {
    text-transform: uppercase;
}

.CartInfo .info {
    text-align: right;
}
