.CartInfo {
    color: white;
    font-weight: bold;
    display: inline-block;
}

.CartInfo .TotalItems {
    margin-right: 50px;
    text-transform: uppercase;
}

.CartInfo .Total {
    text-align: right;
}

.CartInfo .TotalItems,
.CartInfo .Total {
    display: inline-block;
}
